.navbutton{
  padding: 20px;
}

.home{
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-size:"30px";
 

}

.y{
  font-weight: 1000;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ima{
  margin-left: 300px;
  
}